.topBar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    /* justify-content: center; */
    
    background-color: rgb(57, 31, 208);
    height: 5em;
    z-index: 1;
}

.logo{
    width: 3em;
    margin-left: 2em
}

.word{
    font-size: 2rem;
    color: white;
    margin-left: 1em;
}